fastapi>=0.111,<0.112
uvicorn[standard]>=0.30,<0.31
pydantic>=2.7,<2.8

numpy==1.26.4
pandas==2.2.2
tqdm

opencv-python
Pillow
pdf2image
pdfplumber
PyMuPDF

img2table

python-Levenshtein
rapidfuzz

langchain==0.2.10
langchain-core>=0.2.20,<0.3.0
langchain-community>=0.2.10,<0.3.0
langchain-text-splitters
langchain-ollama

chromadb

unstructured
unstructured[all-docs]

scikit-learn
matplotlib
seaborn
datasets

huggingface_hub
transformers

onnx
protobuf

ipykernel
pytest
pytest-cov
coverage

paddleocr
paddlepaddle

gradio 
python-dotenv

requests

img2table[easyocr]


openai  
pymupdf 